<h1>Artist Details
<%= link_to "Delete Artist", artist_path(@artist.name), method: :delete, class: "btn btn-danger" %>
</h1>


<p><%= link_to "Back to Artist List", artists_path, class: "btn btn-primary btn-xs" %></p>

<h3><span class="label label-default"><%= @artist.name %></span></h3>

<img class = "media-object" src = "<%= @artist.image_path %>">