<%= render partial: "header" %>
  <table class = "table">
    <tr>
      <th>Title</th>
      <th class = "text-center" colspan = "2">Action</th>
    </tr>
    <% @playlists.each do |playlist|%>
      <tr>
        <td><%= link_to playlist.title, playlist_path(playlist) %>
          <span class="badge">
            <%= playlist.songs.count %>
          </span>
        </td>
        <td class = "text-center"><%= link_to "Edit", edit_playlist_path(playlist), class: "btn btn-warning" %></td>
        <td></td>
      </tr>
    <% end  %>
  </table>